<div class="container">
  <div class="row">
    <div class="card mb-3 mt-5 bg-dark text-white bg-opacity-75">
      <div class="row g-0">
        <div class="col-md-6">
          <%= image_tag "https://image.tmdb.org/t/p/w1280/#{@movies.poster_path}", class: "card-img" %>
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title text-center"><%= @movies.name %></h5>
            <p class="card-text text-center"><%= @movies.overview %></p>
            <p class="card-text text-center"><small class="text-muted"><%= @movies.id %></small></p>
            <div class="d-flex align-items-center justify-content-center">
              <div class="like" style="width: 70px;">
                <% if logged_in? %>
                  <%= render partial: 'likes/like', locals: { user_id: current_user.id, movie_id: @movie_id } %>
                <% end %> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
    <div class="col-12 sidebar comments">
      <h2 class="bg-secondary text-center">コメント一覧</h2>
    </div>  
    <div class="col-12 sidebar comments">
      <% if @comments.present? %>
        <%= render 'comments/comments', comments: @comments %>
      <% else %>
        <p>現在コメントはありません</p>
      <% end %>
    </div>  
  </div>
</div>